<h1>Where's the gym?</h1>

        <div id="title">
          Where are you?
        </div>
      <div id="pac-container">
        <input id="pac-input" type="text"
            placeholder="Enter a location">
      </div>
      <div id='map'></div>
