<!DOCTYPE html>
<html>
  <head>
    <title>Wheresthegym</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDO3o3hfihB1nHUiDcuE-nZsvtcENcYAqE"</script>
  </body>
</html>
